html {
  font-size: 80%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

.day {
  width: 1.5em;
  height: 1.5em;
}

.calendar,
section {
  max-width: 500px;
}

.day:nth-of-type(7n+1) {
  color: red;
  width: 1.5em;
  height: 1.5em;
}

.day:nth-of-type(7n) {
  color: blue;
  width: 1.5em;
  height: 1.5em;
}

.holiday {
  color: red;
  width: 1.5em;
  height: 1.5em;
}

.to.day {
  color: white;
  background: #f09;
  border-radius: 50%;
}

.month {
  width: calc(1.5em * 9);
  padding: 1em;
  cursor: pointer;
}

h4 {
  font-size: 1em;
  text-transform: uppercase;
  color: #f09;
}

h1#year {
  font-size: 2em;
  height: 29px;
  font-weight: normal;
  padding: 0em 1em 0em 1em;
  margin-bottom: .5em;
  border-bottom: 5px double #d9d9d9;
}

.no-flexbox .day {
  text-align: center;
  float: left;
  line-height: 1.5em;
}

.no-flexbox .holiday {
  text-align: center;
  float: left;
  line-height: 1.5em;
}

.no-flexbox h4 {
  text-align: center;
}

.no-flexbox h1 {
  width: 4em;
}

.calendar,
.calendar * {
  display: flex;
  justify-content: center;
}

.calendar h4 {
  justify-content: center;
  flex: 1 0 100%;
}

.calendar h1 {
  justify-content: center;
  align-self: stretch;
}

.calendar,
.month {
  flex-wrap: wrap;
}

section {
  flex-direction: row;
  align-self: center;
}

.month {
  align-items: flex-start;
}

.day {
  align-items: center;
  justify-content: center;
}

.holiday {
  align-items: center;
  justify-content: center;
}

script {
  display: none;
}

.cloneCont {
  display: block;
  position: absolute;
  top: 220px;
  box-shadow: 0px 0px 5px 1px #ccc;
  transform: scale(2, 2);
  background: rgba(255, 255, 255, .9);
  animation: redimensionar .5s cubic-bezier(.86, 0, .07, 1);
}

.month.cloneMonth {
  display: flex;
  left: 1em;
}

.month.cloneMonth:after {
  content: "\02718";
  color: #f09;
  position: absolute;
  top: 1em;
  left: 1em;
}

.cloneCont.trans {
  transform: translateY(1000px);
  background: rgba(255, 255, 255, .9);
  opacity: 0;
  animation: trasladar .5s cubic-bezier(.86, 0, .07, 1);
}

@keyframes redimensionar {
  0% {
    transform: scale(1, 1);
    background: rgba(255, 255, 255, .9);
    opacity: 0;
  }
  100% {
    transform: scale(2, 2);
    background: rgba(255, 255, 255, .9);
    opacity: 1;
  }
}

@keyframes trasladar {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}

.main.is-rotated-left {
  transform: translate(-50%, -50%) rotateY(-4deg);
}

.main.is-rotated-right {
  transform: translate(-50%, -50%) rotateY(4deg);
}

.main .right-wrapper.is-active {
  transform: rotateY(0deg);
}